antlr4-python3-runtime==4.13.1
bleach==4.1.0
certifi==2023.7.22
charset-normalizer==2.0.10
colorama==0.4.4
docutils==0.18.1
idna==3.7
importlib-metadata==4.10.1
keyring==23.5.0
packaging==21.3
pip==23.3
pkginfo==1.8.2
Pygments==2.15.0
pyparsing==3.0.6
readme-renderer==32.0
requests==2.32.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
setuptools==65.5.1
six==1.16.0
tqdm==4.66.3
twine==3.7.1
urllib3==1.26.18
webencodings==0.5.1
wheel==0.38.1
zipp==3.19.1
